/*-------------------------------------------------Colours */

    /*  header and footer background
        page background (white)
        class - default text (dark grey)
        class - default header (aqua)
        class - icon (aqua)
        

/*-------------------------------------------------General page rules */

    /*  rule for sections - can only have one open at once
        rule for sub section - when a different section is clicked on sub section collapses

        INVESTIGATE - can i show part of the text on hover and the full text on click?

        class icon 
            - onhover / onclick / aria screen reader
            - center align
            - default size / weight
        class - capitalize
        class - text align to the left
        class - text align to the center
        class - drop down arrow. 
                need to be able to toggle up and down

        class - col -   set the columns that are three together on desktop to single file on mobile
                        use the same class for the icons in the drop downs, and the skill circles. 


/*-------------------------------------------------Nav */

.topBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #e1e0e7;
    height: 50px;
    z-index: -1;
}

.dropdownMenu {
    list-style: none;
    margin: 0;
    position: absolute;
    padding: 0;
    left: 0;
    right: 0;
    top: 50;
    width: 150px;
    text-align: left;
    font-size: 15px;
    transform: translateY(-110%);
    transition: transform .5s ease-in-out;
    box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.2);
    z-index: -2;
    background-color: #e1e0e7;
}
.dropdownItem {
    padding-left:15px; 
}

.dropdownLink {
    text-decoration: none;
    display: block;
    color: #4a4a4f;
    padding: 10px 5px;
    transition: background-color .2s ease-in-out;
}

.dropdownItem:hover {
    background-color: #DBDCE0;
    text-decoration: none;
    color: #4a4a4f;
}

.dropdownLink:hover {
    text-decoration: none;
    color: #4a4a4f;
}

.dropdown:hover .dropdownMenu {
    transform: translateY(0);
}

.hamburger {
    height: 50px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    color: #5A5A5F;  
    cursor: pointer;
    bottom: 0;
}

.hamburger .material-icons {
    font-size: 36px;
}

/*-------------------------------------------------Header */

.header-background {
    height: 100vw;
    background: url("../images/banner-image2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -3;
    top: 0;
}

h1.title,
h2.role {
    padding-left: 10%;
}

@media (min-width: 768px) {
    .header-background {
        height: 700px;
    }
}
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }


/* SPECIFIC PAGE SECTIONS */

/*-------------------------------------------------About Me */
/*-------------------------------------------------Work History */

/*-------------------------------------------------Section */
/*-------------------------------------------------Section */
/*-------------------------------------------------Section */
/*-------------------------------------------------Section */
/*-------------------------------------------------Section */