/*-------------------------------------------------Colours */

.blue-icon {
    color: #007CAD;
}

.blue-icon-large {
    max-width: 50px;
}

.blue-text {
    color: #007CAD;
}

.light-blue {
    background-color: #e1e0e7;
}

.light-blue-shadded {
    background-color: #B9B8BE
}

.grey-line {
    background-color: rgb(155, 155, 158);
}

/* GENERAL PAGE RULES */

/*-------------------------------------------------Icons */

.top-level-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.second-level-icon {
    
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    width: 45px;
    padding-bottom: 15px;
}

.inner-section-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-level-icon {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fa-chevron-down {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 25px;
}

.grey-line {
    width: 100%;
    height: 2px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.centered-text {
    text-align: center;
}

/*-------------------------------------------------Sections */

.page-section {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 10%;
    padding-left: 10%;
}

.inner-section {}

.second-inner-section {}

/*-------------------------------------------------Headers & Paragraphs */

h3, h4, h5, h6 {
    text-align: center;
}

h3 {
    padding-bottom: 15px;
    padding-top: 5px;
}

h4 {
    padding-bottom: 20px;
}

h5 {
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    padding-bottom: 10px;
}

.row {
    padding: 0;
    margin: 0;
}

/*  rule for sections - can only have one open at once
        rule for sub section - when a different section is clicked on sub section collapses

        INVESTIGATE - can i show part of the text on hover and the full text on click?

        class icon 
            - onhover / onclick / aria screen reader
            - center align
            - default size / weight
        class - capitalize
        class - text align to the left
        class - text align to the center
        class - drop down arrow. 
                need to be able to toggle up and down

        class - col -   set the columns that are three together on desktop to single file on mobile
                        use the same class for the icons in the drop downs, and the skill circles. 


/*-------------------------------------------------Nav */

.dropdown {
    display: inline-block;
}
.dropdownMenu {
    list-style: none;
    margin: 0;
    position: absolute;
    padding: 0;
    left: 0;
    right: 0;
    top: 50;
    width: 150px;
    text-align: left;
    font-size: 15px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s ease-in-out;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
   
}

.dropdownItem {
    padding-left: 15px;
}

.dropdownLink {
    text-decoration: none;
    display: block;
    color: #4a4a4f;
    padding: 10px 5px;
    transition: background-color .2s ease-in-out;
}

.dropdownItem:hover {
    background-color: #B9B8BE;
    text-decoration: none;
    color: #4a4a4f;
}

.dropdownLink:hover {
    text-decoration: none;
    color: #4a4a4f;
}

.dropdown:hover .dropdownMenu {
    transform: scaleY(1);
}

.hamburger {
    height: 50px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    color: #5A5A5F;
    cursor: pointer;
    bottom: 0;
}

.hamburger .material-icons {
    font-size: 36px;
}

/*-------------------------------------------------Header */

.header-background {
    height: 100vw;
    background: url("../images/banner-image3.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -3;
    top: 0;
}

h1.title, h2.role {
    padding-left: 10%;
}

@media (min-width: 576px) {
      .header-background {
        height: 550px;
    }
}

@media (min-width: 768px) {
 
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {

}

/*-------------------------------------------------Footer */

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
}

.footer {
    min-height: 50px;
}

.social-links {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.social-links li a i {
    padding: 12px 2px;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

ul {
    margin-bottom: 0;
    min-height: 50px;
}

.col-12 {
    padding-right: 0;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
}

/*-------------------------------------------------General Section Formatting*/



/* SPECIFIC PAGE SECTIONS */

/*-------------------------------------------------About Me */

.about-me-section {}

.about-me-inner {}

/*-------------------------------------------------Work History */

.work-history-section {}

.work-history-inner{}

/*-------------------------------------------------Skills */

.skills-section {}

.skills-inner {}

/*-------------------------------------------------Portfolio */

.portfolio-section {}

.portfolio-inner {}

/*-------------------------------------------------Contact */

.contact-section {}

.contact-inner {}
